@use "@styles/global" as *;

.test {
  &__title {
    font-size: rem(20px);

    @media screen and (min-width: $screen-md) {
      font-size: rem(30px);
    }
  }

  &__text {
    font-size: rem(15px);
    line-height: 1.3em;
    text-align: justify;

    @media screen and (min-width: $screen-md) {
      font-size: rem(20px);
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
