@use "sass:math";
@use "@scss-functions/utils/strip-unit" as *;

// average value between two values
@function avg($value1, $value2) {
  $unit1: math.unit($value1);
  $unit2: math.unit($value2);

  @if $unit1 == $unit2 {
    $avg: math.div($value1 + $value2, 2);
    @return $avg;
  } @else {
    $stripped1: strip-unit($value1);
    $stripped2: strip-unit($value2);
    $avg: math.div($stripped1 + $stripped2, 2);
    @return #{$avg}#{$unit1};
  }
}
