@use 'sass:list';
@use '@scss-functions/values/rem' as *;
@use '@scss-functions/utils/is-list' as *;

@function convert-to-list($values) {
  // Converts input data into a list
  // If the input is already a list, returns it unchanged
  // If the input is not a list, returns a one-element list
  @if not is-list($values) {
    @return $values;
  }

  // If it is a list, process each value separately
  $result: ();
  @each $value in $values {
    $result: list.append($result, $value);
  }
  @return $result;
}

@function convert-to-list-rem($values) {
  // Converts all values in the list (or a single value) to units rem
  // If the input is not a list, converts a single value to units
  // If it is a list, converts each element separately
  @if not is-list($values) {
    @return rem($values);
  }

  $result: ();
  @each $value in $values {
    $result: list.append($result, rem($value));
  }
  @return $result;
}
